@mixin wrapStyle {
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.page.-home{
    display: flex;
    justify-content: space-between;

    .col-wrap{

        .col{
            height: 100%;

            .inner-col{
                display: flex;
                flex-direction: column;
                height: 100%;

                &.-transparent{
                    background: transparent !important;
                    background-color: transparent !important;
                    box-shadow: none !important;
                }
            }

            &.--40{

                .inner-col{
                    @include wrapStyle;
    
                    .controllers{
                        min-height: 80px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
    
                    .list{
                        flex-grow: flex;
                        margin-top: 10px;
                        overflow: auto;
                    }
                }
            }

            &.--60{
                
                .inner-col{
                    @include wrapStyle;
                }
            }
        }
    }
}