.ranked{
    padding: 12px;
    border-radius: 12px;

    .title{
        color: var(--colorNavy);

        h2{
            padding: 0;
            margin: 0;
            font-weight: 300;
            font-size: 18px;
        }
    }

    .body{
        overflow: hidden;
        white-space: nowrap;

        .ranked-user{
            width: 95px;
            text-align: center;
            display: inline-block;
            margin: 0 8px;

            .avatar{
                display: block;
                height: 68px;
                width: 68px;
                background-color: var(--colorNavy);
                border-radius: 50%;
                margin: auto;
            }

            .name{
                display: block;
                padding: 0;
                margin: 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 12px;
                color: var(--colorNavy);
            }
        }
    }
}